---
layout: page
title: Publications
permalink: /publications/
---

{{ "## By Volume" | markdownify }}
<div class="row">
{% for volume in site.volumes reversed %}
  <div class="col-md-4">
    <div class="vol-listing-block">
      <div class="vol-listing-block-img">
          {% include volume-coverpicture.html volume=volume div_class="vol-listing-img"%}
      </div>
      <div class="vol-listing-text">
        <h2><a href={{ volume.url }}>{{ volume.title }}</a></h2>
        <span class="vol-meta">
          {%- if volume.upcoming -%}
            {{ volume.season }}
          {%- else -%}
            {{ volume.date | date: "%B %Y" }}
          {%- endif -%}
        </span>
      </div>
    </div>
  </div>
{% endfor %}
</div>

{{ "## By Field" | markdownify }}
<div class="row">
{% for field in site.fields %}
  <div class="col-md-4">
    <div class="vol-listing-block">
      <div class="vol-listing-text">
        <h2><a href={{ field.url }}>{{ field.title }}</a></h2>
      </div>
    </div>
  </div>
{% endfor %}
</div>
