<details>
<summary>BibTeX</summary>
  <p class="post-citation">
    @article&#123;{{ page.filename }},<br>
      title=&#123;{{ page.title }}&#125;,<br>
      author=&#123;{%- for author in page.author -%}
        {%- if forloop.first != true -%}&nbsp;and&nbsp;{%- endif -%}{{ author.name }}
      {%- endfor -%}&#125;,<br>
      journal=&#123;iScientist&#125;,<br>
      volume=&#123;{{ page.volume }}&#125;,<br>
      year=&#123;{{ page.date | date: "%Y" }}&#125;,<br>
      publisher=&#123;McMaster University&#125;<br>
    &#125;
  </p>
</details>
