{%- if include.date_format -%}
{%- assign date_format=include.date_format -%}
{%- else -%}
{%- assign date_format="%B %Y" -%}
{%- endif -%}
<div class="content-highlight mainpage-section">
  <div class="row">
    <div class="col-5">
      <div class="latest-issue-img-block">
        {% include volume-coverpicture.html volume=include.volume div_class="latest-issue-img"%}
      </div>
    </div>
    <div class="col-7">
      <div class="latest-issue-text-overlay"></div>
      <div class="latest-issue-text-block">
        <a href={{ include.volume.url }}>
        <h3>Volume</h3>
        <h1 class="latest-issue-text-vol-number">{{ include.volume.number }}</h2>
          <span class="vol-meta">
          {%- if include.volume.upcoming -%}
            {{ include.volume.season }}
          {%- else -%}
            {{ include.volume.date | date: date_format }}
          {%- endif -%}
          </span>
        </a>
      </div>
    </div>
  </div>
</div>
